# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Build

on:
  push:
    branches: 'main'
    tags-ignore: '*'
  pull_request:
    types: [opened, reopened]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3.5.2
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: '7.x.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev\"
      - name: Build
        run: |
          dotnet build --no-restore --configuration Release --nologo
      - name: Rename file 
        run: mv ${{ github.workspace }}/CustomizePlus/bin/x64/Release/CustomizePlus/latest.zip ${{ github.workspace }}/CustomizePlus/bin/x64/Release/CustomizePlus/CustomizePlus.zip
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          path: |
            ${{ github.workspace }}/CustomizePlus/bin/x64/Release/
